{% extends "home2/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<header class="mb-4">
    <!-- Post title-->
    <h1 class="fw-bolder mb-1">¿Qué hicimos?</h1>
    <!-- Post meta content-->
    <!-- Post categories-->
    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Python</a>
    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Teamplayers</a>
</header>
<!-- IMAGEN DE CHUCHO-->
<h2 class="fw-bolder mb-4 mt-5">Guido Ariel Ferraro</h2>
<figure class="mb-4"><img class="img-fluid rounded" src="https://cdn-thumbs.imagevenue.com/f0/0e/9a/ME14Y1GO_t.jpg" alt="..." /></figure>
<!-- Post content-->
<section class="mb-5">
    <p class="fs-5 mb-4">- Creación de modelos</p>
    <p class="fs-5 mb-4">- Adaptación a nuevo template</p>
    <p class="fs-5 mb-4">- Búsqueda</p>
    <p class="fs-5 mb-4">- Botón al repositorio</p>
    <p class="fs-5 mb-4">- Error 404</p>
</section>

<!-- IMAGEN DE DIMAS-->
<h2 class="fw-bolder mb-4 mt-5">Ivan Dimas</h2>
<figure class="mb-4"><img class="img-fluid rounded" src="https://cdn-thumbs.imagevenue.com/ca/60/ff/ME14Y0V5_t.jpeg" alt="..." /></figure>
<!-- Post content-->
<section class="mb-5">
    <p class="fs-5 mb-4">- Integración de CKEditor</p>
    <p class="fs-5 mb-4">- </p>
    <p class="fs-5 mb-4">- </p>
</section>

<!-- IMAGEN DE PEDRIEL-->
<h2 class="fw-bolder mb-4 mt-5">Name</h2>
<figure class="mb-4"><img class="img-fluid rounded" src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1570710978/coderhouse.jpg" alt="..." /></figure>
<!-- Post content-->
<section class="mb-5">
    <p class="fs-5 mb-4">- </p>
    <p class="fs-5 mb-4"></p>
    <p class="fs-5 mb-4"></p>
</section>
{% endblock %}

{% block lista_de_cursos_home_content %}



{% if courses %}
<ul>
    {% for course in courses %}
    <li><a href="{% url 'course:course-detail' course.id %}">
        {{course.name}}
    </a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}