{% extends "home2/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<header class="mb-4">
    <!-- Post title-->
    <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
    <!-- Post meta content-->
    <div class="text-muted fst-italic mb-2">Fecha de hoy: {{time}}</div>
    <!-- Post categories-->
    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
</header>
<!-- Preview image figure-->
<figure class="mb-4"><img class="img-fluid rounded" src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1570710978/coderhouse.jpg" alt="..." /></figure>
<!-- Post content-->
<section class="mb-5">
    <p class="fs-5 mb-4">Gracias por visitar nuestro proyecto, dejamos aquí un video dónde explicaremos un poco nuestro blog</p>
    <video width="680" height="400" controls><source src="{% static 'home2/asd.mp4' %}" type="video/mp4"></video>
</section>

{% endblock %}

{% block lista_de_cursos_home_content %}
<div class="card mb-4">
    <div class="card-header text-black">Cursos</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <!-- ACA HAY QUE PONER LA LISTA DE CURSOS-->
                
                {% if courses %}
                
                <ul class="text-black">
                    {% for course in courses %}
                        <li><a href="{% url 'course:course-detail' course.id %}">
                            {{course.name}}
                        </a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>
{% endblock %}