{% extends "home2/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h2>Formulario para carga de Imagen de Avatar</h2>
<hr></hr>
<h2>Bienvenido</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="text-center">
    <img class="rounded-circle" height="160px" src="{{url}}" alt="">
</div>

<h3>Usuario: {{user.username}}</h3>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Cargar Imagen</button>
</form>

{% endblock %}