{% extends "home2/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h2>Lista de Cursos</h2>
{% if user.is_authenticated %}
<a class="card_custom" href="{% url 'course:course-add' %}">Crear nuevo Curso</a>
{% endif %}
<hr></hr>
<ul>
    {% for course in course_list %}
    <li>
        {{course}}
        (
        <a href="{% url 'course:course-detail' course.id %}">
            <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> </i>
        </a>
        {% if user.is_authenticated %}
        |
        <a href="{% url 'course:course-update' course.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
        </a>
        |
        <a href="{% url 'course:course-delete' course.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"> </i>
        </a>
        {% endif %}
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block lista_de_cursos_home_content %}
{% if courses %}
<div class="card mb-4">
    <div class="card-header">Cursos</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <!-- ACA HAY QUE PONER LA LISTA DE CURSOS-->                
                <ul>
                    {% for course in courses %}
                        <li><a href="{% url 'course:course-detail' course.id %}">
                            {{course.name}}
                        </a></li>
                    {% endfor %}
                </ul>                
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}



{% block search_content %}
<div class="card mb-4">
    <div class="card-header text-black">Search</div>
    <div class="card-body">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
        </div>
    </div>
</div>
{% endblock %}